.board {
    -fx-background-color: linear-gradient(to bottom right, #e6fffd, #e6fffc);
    -fx-border-color: black;
    -fx-border-insets: 1;
}

.noGrid {
    -fx-border-color: none;
}
.grid {
    -fx-border-color: black;
}

.squareGizmo {
    -fx-fill: red;
    /*-fx-fill: radial-gradient(center 30% 30%, radius 100%, #ff8c8c, red);*/
}

.gizmoContainer:focused .squareGizmo {
    -fx-fill: derive(red, -50%);
}
.gizmoContainer.selected .squareGizmo {
     -fx-fill: derive(red, -50%);
 }

.triangleGizmo {
    -fx-fill: #00ff00;
    /*-fx-fill: radial-gradient(center 30% 30%, radius 100%, #8cff8c, #00ff00);*/
}
.gizmoContainer:focused .triangleGizmo {
    -fx-fill: derive(#00ff00, -50%);
}
.gizmoContainer.selected .triangleGizmo {
    -fx-fill: derive(#00ff00, -50%);
}

.circleGizmo {
    -fx-fill: deepskyBlue;
    /*-fx-fill: radial-gradient(center 30% 30%, radius 100%, #8ce2ff, deepskyblue);*/
}
.gizmoContainer:focused .circleGizmo {
    -fx-fill: derive(deepskyblue, -50%);
}
.gizmoContainer.selected .circleGizmo {
    -fx-fill: derive(deepskyblue, -50%);
}
.flipperGizmo {
    -fx-fill: orange;
    /*-fx-fill: radial-gradient(center 30% 30%, radius 100%, #ffd38c, orange);*/
}
.gizmoContainer:focused .flipperGizmo {
    -fx-fill: derive(orange, -50%);
}
.gizmoContainer.selected .flipperGizmo {
    -fx-fill: derive(orange, -50%);
}
.absorberGizmo {
    -fx-fill: #ff00ff;
    /*-fx-fill: radial-gradient(center 30% 30%, radius 100%, #ff8cff, #ff00ff);*/
 }
.gizmoContainer:focused .absorberGizmo {
    -fx-fill: derive(#ff00ff, -50%);
}
.gizmoContainer.selected .absorberGizmo {
    -fx-fill: derive(#ff00ff, -50%);
}
.ball {
    -fx-fill: #ffdb00;
    /*-fx-fill: radial-gradient(radius 100%, #fff28c, #ffdb00);*/
 }
.ballContainer:focused .ball {
    -fx-fill: derive(#ffdb00, -50%);

}
.ballContainer.selected .ball {
    -fx-fill: derive(#ffdb00, -50%);

}